body {
  height: 100vh;
  display: grid;
  place-content: center;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-gap: 2rem;
}

main > div {
  border-radius: 1rem;
  background: linear-gradient(rgb(3, 168, 223) 0%, rgb(96, 96, 255) 100%);
  padding: 1rem;
  color: white;
  box-shadow: 0px 7px 32px 1px #bcbbdd;
  cursor: pointer;
  transition: box-shadow 0.25s, transform 0.25s;
}

h1 {
  margin: 0 0 1rem 0;
}

p {
  margin: 0;
}

.card-1:hover {
  transform: translateY(-10px);
  box-shadow: 0px 13px 43px 3px #9796b0;
}

.card-2:hover {
  transform: translateY(-30px) rotate(-10deg);
  transform-origin: center;
  box-shadow: 0px 13px 43px 3px #9796b0;
}

.card-3 {
  overflow-y: hidden;
  position: relative;
}

.content {
  position: absolute;
  top: calc(100% - 3rem);
  transition: top 0.25s;
}

.card-3:hover .content {
  top: 1rem;
}

.card-4:hover {
  transform: scale(1.05);
  box-shadow: 0px 13px 43px 3px #9796b0;
}
