*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  place-content: center;
  font-family: sans-serif;
  text-align: center;
}

button {
  font-size: 1.25rem;
  font-weight: 700rem;
  padding: 0.5rem 1rem;
  background-color: white;
  border: 2px solid lightblue;
  border-radius: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: beige;
}

header {
  margin: 2rem 0 1rem 0;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
}

.controls {
  display: grid;
  margin: 0 auto;
  width: 350px;
}

.controls label {
  display: flex;
  align-content: center;
}

.controls label:first-child {
  grid-area: 1/1;
  align-self: start;
}

.controls label:nth-child(2) {
  grid-area: 1/1;
  align-self: end;
}

.controls input {
  max-width: 110px;
}

@media (min-width: 600px) {
  .controls {
    width: 500px;
  }
  .controls input {
    max-width: 250px;
    width: 250px;
  }
}

.controls button {
  grid-area: 1/1;
  width: fit-content;
  justify-self: end;
}

.controls input {
  cursor: pointer;
}

.entries {
  display: grid;
  place-content: center;
}

.entries p {
  padding: 1rem;
  font-size: 1.75rem;
  font-weight: 700;
  border: 1px solid lightgray;
  text-transform: uppercase;
}

.answers ul {
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1rem;
}

.answers li {
  display: grid;
}

.answers label {
  grid-area: 1/1;
  font-size: 1.75rem;
  padding: 1rem;
  text-transform: uppercase;
}

.answers input {
  grid-area: 1/1;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid lightgrey;
  cursor: pointer;
}

.answers input:hover {
  border: 2px solid rgb(249, 192, 86);
}

.answers input:checked {
  border: 2px solid green;
}

#error {
  color: red;
}

.hidden {
  display: none;
}
