:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-grey: hsl(0, 0%, 55%);
  --very-dark-grey: hsl(0, 0%, 41%);
  --max-width: 1000px;
}

/* resets */
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* main */

html {
  font-family: "Alata", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.navigation {
  position: absolute;
  z-index: 100;
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-dropdown {
  appearance: none;
  order: 2;
  width: 2rem;
  height: 2rem;
  background-image: url("./images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.menu-dropdown:checked {
  background-image: url("./images/icon-close.svg");
}

.nav-links {
  display: none;
  flex-direction: column;
  list-style: none;
  column-gap: 1rem;
}

.menu-dropdown:checked ~ .nav-links {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-left: 1rem;
  gap: 1.5rem;
  height: 100vh;
  width: 100vw;
  background-color: var(--black);
}

.menu-dropdown:checked + a,
.menu-dropdown:checked {
  position: fixed;
  top: 2rem;
}

.menu-dropdown:checked + a {
  left: 1rem;
}

.menu-dropdown:checked {
  right: 1rem;
}

.nav-link {
  position: relative;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.nav-link::after {
  position: absolute;
  display: block;
  top: 2rem;
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--white);
  transition: width 0.5s;
}

.nav-link:hover::after {
  width: 50%;
}

.menu-dropdown:checked ~ .nav-links .nav-link {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .navigation,
  .leaders,
  .creations {
    left: 0;
    right: 0;
    max-width: calc(1000px + 2rem);
  }

  .navigation {
    margin: 0 auto;
  }

  .creations {
    margin: 10rem auto;
    padding: 0 1rem;
  }

  .menu-dropdown {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
  }
}

.hero {
  background-image: url("./images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero h2 {
  border: 1px solid var(--white);
  padding: 1.2rem 1rem 1rem 1rem;
  margin: 1rem;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 2.75rem;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .hero {
    background-image: url("images/desktop/image-hero.jpg");
    height: 650px;
    padding: 0 calc(50vw - 500px - 1.5rem);
  }

  .hero h2 {
    margin-top: 5rem;
    width: 500px;
    font-size: 4rem;
  }
}

article {
  margin: 5rem 1rem;
}

article h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.leaders h2 {
  margin: 3rem 0 1rem 0;
}

.leaders p {
  font-size: 0.8rem;
  color: var(--dark-grey);
}

.leaders section {
  background: var(--white);
  text-align: center;
}

@media (min-width: 600px) {
  .leaders {
    display: grid;
    grid-template-areas: "content";
    margin: 6rem auto;
    padding: 0 1rem;
  }

  .leaders picture {
    grid-area: content;
  }

  .leaders h2 {
    font-size: clamp(2rem, 0.875rem + 2.8125vw, 2.75rem);
    margin-top: 0;
  }

  .leaders section {
    grid-area: content;
    justify-self: end;
    align-self: end;
    width: clamp(400px, 250px + 25vw, 500px);
    padding-top: clamp(2rem, -4rem + 15vw, 6rem);
    padding-left: clamp(2rem, -4rem + 15vw, 6rem);
    text-align: left;
  }
}

.creations {
  display: grid;
  grid-template-areas:
    "title"
    "list"
    "more";
}

.creations h2 {
  grid-area: title;
  justify-self: center;
  margin-bottom: 2rem;
}

.creations-list {
  grid-area: list;
  display: grid;
  list-style: none;
  padding: 0;
  gap: 1rem;
}

.creations-list li {
}

.creations-list figure {
  display: inline-block;
}

.creations-list picture,
.creations-list img {
  display: block;
}

.creations-list a {
  /* display: inline-block; */
  text-decoration: none;
  color: var(--white);
  transition: color 0.5s;
}

.creations-list a:hover {
  color: var(--black);
}

.creations-list a picture {
  position: relative;
}

.creations-list a picture::after {
  position: absolute;
  z-index: 1;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  opacity: 0;
  transition: opacity 0.5s;
}

.creations-list a:hover picture::after {
  opacity: 0.5;
}

.creations-list figure {
  display: grid;
  grid-template-areas: "picture";
}

.creations-list picture {
  grid-area: picture;
}

.creations-list figcaption {
  grid-area: picture;
  align-self: end;
  z-index: 10;
  margin: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  max-width: 50%;
  text-transform: uppercase;
}

.see-all {
  grid-area: more;
  justify-self: center;
  text-decoration: none;
  padding: 0.5rem 3rem;
  margin-top: 1.5rem;
  color: var(--black);
  border: 2px solid var(--black);
  font-weight: 400;
  transition: color 0.5s, background-color 0.5s;
}

.see-all:hover {
  color: var(--white);
  background-color: var(--black);
}

@media (min-width: 600px) {
  .creations {
    grid-template-areas:
      "title more"
      "list list";
  }

  .creations h2 {
    justify-self: start;
    align-self: center;
    margin-bottom: 0;
  }

  .creations-list {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-auto-columns: auto;
    margin-top: 3rem;
  }

  .see-all {
    align-self: center;
    justify-self: end;
    margin-top: 0;
  }
}

footer {
  display: grid;
  grid-template-areas:
    "logo"
    "internal"
    "social"
    "copyright";
  justify-items: center;
  background-color: var(--black);
  color: var(--dark-grey);
  padding: 3rem 0;
}

.footer-internal-links {
  grid-area: internal;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 2rem 0;
}

.socials {
  grid-area: social;
  list-style: none;
  padding: 0;
  display: flex;
  margin: 1rem;
  gap: 1rem;
}

@media (min-width: 600px) {
  footer {
    grid-template-areas:
      "logo social"
      "internal copyright";
    justify-items: start;
    align-items: center;
    padding: 2rem max(1rem, calc(50vw - 500px - 0.5rem));
  }

  .footer-internal-links {
    flex-direction: row;
  }

  .socials,
  footer p {
    justify-self: end;
  }

  footer p {
    font-size: 0.9rem;
  }

  .socials {
    margin: 0;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
